<div class="row">
  <div class="col-md-offset-0 col-md-12">
    <%= form_for(@service) do |f| %>
      <% if @service.errors.any? %>
        <div id="error_explanation">
          <h2>hay <%= pluralize(@service.errors.count, "errore") %></h2>
          <ul>
          <% @service.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :Nombre, :class => 'servicio' %><br>
        <%= f.text_field :nombre ,:class => 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :Tipo, :class => 'servicio' %><br>
        <%= f.select(:type_id ,[],{},{ :class => 'form-control' } )  do %>
          <% @types.each do |c| -%>
            <%= content_tag(:option, c.nombre, value: c.id) %>
          <% end %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :Resumen, :class => 'servicio' %><br>
        <%= f.text_area :resumen ,:class => 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :Descripción, :class => 'servicio' %><br>
        <%= f.text_area :descripcion ,:class => 'form-control'%>
      </div>
      <!--<div class="form-group">
        <%= f.label :Metafora %>
        <%= f.file_field :metafora ,:class => 'form-control'%>
        <p class="help-block">Archivos permitidos: jpg, jpeg y png</p>
      </div>-->
      <div class="actions">
        <%= f.submit :Terminar ,:class =>'btn btn-success'%>
      </div>
    </br>
    <% end %>
  </div>
</div>

