<div class="row">
  <div class="col-md-offset-0 col-md-12">
    <%= form_for(@insurance) do |f| %>
      <% if @insurance.errors.any? %>
        <div id="error_explanation">
          <h2>hay <%= pluralize(@insurance.errors.count, "errore") %></h2>
          <ul>
          <% @insurance.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre ,:class => 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :resumen %><br>
        <%= f.text_area :resumen ,:class => 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :descripcion %><br>
        <%= f.text_area :descripcion ,:class => 'form-control'%>
      </div>
      <div class="actions">
        <%= f.submit :Terminar ,:class =>'btn btn-success'%>
      </div>
    </br>
    <% end %>
  </div>
</div>

