<%= render 'navegacion/navPrivate' %>
<div class="row">
	<div class="col-md-offset-2 col-md-8 panel">
		<div class="row">
			<div class="col-md-12 ">
			  <ol class="breadcrumb">
			    <li><%= link_to 'Inicio', root_url %></li>
			    <li class="active">Editar Seguro</li>
			  </ol>
			</div>
		</div>
		<h1 class="text-center">Editar Seguro</h1>
		<%= render 'form' %>
		<div class="form-group">
			<%= link_to 'Ver Servicio', @insurance, :class =>'btn btn-primary'%> |
			<%= link_to 'Atras', insurances_path, :class =>'btn btn-primary' %>
		</div>
	</div>
</div>

