<% if user_signed_in? %>
  <%= render 'navegacion/navPrivate' %>
<% else %>
  <%= render 'navegacion/navPublic' %>
<% end %>
<div class="panel">
  <div class="row">
    <div class="col-md-12 ">
      <ol class="breadcrumb">
        <li><%= link_to 'Inicio', root_url %></li>
        <li><%= link_to 'Seguros', insurances_path %></li>
        <li class="active"><%= @insurance.nombre %></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h1 class="text-center">
        <%= @insurance.nombre %>
      </h1></br>
      <p >
        <%= @insurance.descripcion %>
      </p>
      <% if user_signed_in? %>
        <nav>
          <ul class="pager">
          <%= link_to 'Editar', edit_insurance_path(@insurance), :class => "btn btn-primary"%>
          <%= link_to 'Atras', insurances_path, :class => "btn btn-primary" %>
          <%= link_to 'Eliminar', @insurance, method: :delete, data: { confirm: '¿Está seguro de borrar?' }, :class => "btn btn-primary" %>  
          </ul>
        </nav>
      <% end %>
    </div>
  </div>
</div>

